* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
}
li {
    list-style: none;
    padding: 0 15px;
}
h1 {
    background-color: #A5FFEB;
    padding: 15%;
    font-family: 'Playfair Display', serif;
}
h2 {
    background-color: #232323;
    padding: 7%;
    font-family: 'Playfair Display', serif;
    color: #DDDDDD;
    text-align: center;
}
p {
    background-color: #707070;
    color: #DDDDDD;
    padding: 8%;
    font-family: 'Fauna One', serif;
}
.about-me-text {
    font-size: 20px;
    line-height: 36px;
    padding: 10%;
}
.footer-text {
    background-color: #232323;
    padding: 2%;
    text-align: center;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}
.nav-menu-name {
    margin-left: auto;
    margin-right: auto;
    font-family: "Fauna One";
    font-weight: 700;
    font-size: 26px;
}
.dd-menu {
    height: 40px;
    margin-right: 20px;
}
.screenshot {
    width: 100%;
}
.tech-used {
    background-color: #82C9BA;
    color: #232323;
    padding: 3% 8%;
}
.gh-logo {
    height: 40px;
}
.dd-items-show {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.dd-items-hide {
    display: none;
}